absl-py==2.1.0
accelerate==0.25.0
aiofiles==23.2.1
aiohttp==3.8.5
aiosignal==1.3.1
alabaster==0.7.13
amrlib==0.8.0
annotated-types==0.6.0
ansi2html==1.9.1
anyio==4.1.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.1.0
autopep8==2.0.4
Babel==2.13.1
bcrypt==4.1.2
beautifulsoup4==4.12.2
black==23.12.1
bleach==6.1.0
blis==0.7.11
btd.sphinx.graphviz==2.3.1.post1
btd.sphinx.inheritance-diagram==2.3.1.post1
build==1.0.3
cached-property==1.5.2
catalogue==2.0.10
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
chart-studio==1.1.0
click==8.1.7
cloudpickle==3.0.0
comm==0.2.0
commonmark==0.9.1
confection==0.1.4
configparser==5.2.0
conllu==4.5.3
contourpy==1.2.0
cryptography==41.0.7
ctakes-parser==0.1.0
cycler==0.12.1
cymem==2.0.8
dash==2.13.0
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
datasets==2.16.1
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.7
distlib==0.3.7
docutils==0.20.1
editdistance==0.6.2
en-core-sci-md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.3/en_core_sci_md-0.5.3.tar.gz#sha256=e829843d1b34aca1949f78dcd56b88ebbb0aeea9e8559d1c306d622c80c1c7f8
en-core-sci-scibert @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.3/en_core_sci_scibert-0.5.3.tar.gz#sha256=1727eebd7a3fabbd58f434993015d713b913eb59a85cd3f936bf0df17bf04710
en-core-sci-sm @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.3/en_core_sci_sm-0.5.3.tar.gz#sha256=20f740772479f3ec6c2a3a5b832a096400a821e2aba68a797c4ba54c224331ed
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.6.0/en_core_web_lg-3.6.0-py3-none-any.whl#sha256=9012584a8fcf5bc61bedb13a4b511fb81ffff9f770958ee06366671be10632e9
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.6.0/en_core_web_md-3.6.0-py3-none-any.whl#sha256=1618fc62e7aedc2b778caa3ea6e9c8280beac3b83fe7b93316cbb9e8f3abe7c5
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl#sha256=83276fc78a70045627144786b52e1f2728ad5e29e5e43916ec37ea9c26a11212
en-ner-bionlp13cg-md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.3/en_ner_bionlp13cg_md-0.5.3.tar.gz#sha256=d07f1ab6772d39e0454ab3e74c4b69d66139f6979b4769abbd5cbe08a6651193
epc==0.0.5
et-xmlfile==1.1.0
executing==2.0.1
fastjsonschema==2.19.0
filelock==3.13.1
flake8==7.0.0
Flask==2.2.5
fonttools==4.46.0
fqdn==1.5.1
frozendict==2.3.10
frozenlist==1.4.1
fsspec==2023.10.0
furo==2023.9.10
future==0.18.3
gensim==4.3.2
gitdb==4.0.11
gitdb2==2.0.6
GitPython==3.1.40
graphviz==0.20.1
h5py==3.10.0
huggingface-hub==0.19.4
hyperopt==0.2.7
idna==3.6
igraph==0.11.3
imagesize==1.4.1
importlib-metadata==7.0.0
importmagic==0.1.7
interlap==0.2.7
ipykernel==6.27.1
ipython==8.18.1
ipywidgets==8.1.1
isoduration==20.11.0
itsdangerous==2.1.2
jaraco.classes==3.3.0
jeepney==0.8.0
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.14
jsonpickle==3.0.2
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
jupyter-events==0.9.0
jupyter-lsp==2.2.1
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyter_server==2.12.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.9
jupyterlab-widgets==3.0.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
keyring==24.3.0
kiwisolver==1.4.5
langcodes==3.3.0
lxml==4.9.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
medcat==1.9.3
mistune==3.0.2
more-itertools==10.1.0
mpmath==1.3.0
msgpack==1.0.7
msgpack-numpy==0.4.8
multidict==6.0.4
multiprocess==0.70.15
murmurhash==1.0.10
mypy-extensions==1.0.0
nbclient==0.9.0
nbconvert==7.12.0
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.2.1
nh3==0.2.14
nltk==3.8.1
nmslib == 2.1.2
notebook==7.0.6
notebook_shim==0.2.3
numpy==1.25.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
openpyxl==3.1.2
overrides==7.4.0
packaging==23.2
pandas==2.1.3
pandocfilters==1.5.0
paramiko==3.3.1
parse==1.20.0
parso==0.8.3
pathspec==0.12.1
pathy==0.10.3
patool==1.12
Penman==1.3.0
pexpect==4.9.0
Pillow==10.1.0
pip-tools==7.3.0
pipdeptree==2.13.1
pkginfo==1.9.6
plac==1.4.1
platformdirs==4.1.0
plotly==5.18.0
preshed==3.0.9
prometheus-client==0.19.0
prompt-toolkit==3.0.41
protobuf==3.20.3
psutil==5.9.6
psycopg2==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.7
pyarrow==14.0.2
pyarrow-hotfix==0.6
pybind11==2.11.1
pycodestyle==2.11.1
pycparser==2.21
pydantic==1.10.13
pydantic_core==2.14.5
pyemd==0.5.1
pyflakes==3.2.0
Pygments==2.17.2
PyNaCl==1.5.0
pyparsing==3.1.1
pyproject_hooks==1.0.0
pysbd==0.3.4
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2023.3.post1
pyvis==0.2.1
PyYAML==6.0.1
pyzmq==25.1.2
readme-renderer==42.0
recommonmark==0.7.1
referencing==0.31.1
regex==2023.10.3
reportlab==4.0.7
requests==2.31.0
requests-toolbelt==1.0.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==13.7.0
rouge-score==0.1.2
rpds-py==0.13.2
rst2pdf==0.101
safetensors==0.4.1
scikit-learn==1.3.2
scipy==1.9.3
scispacy==0.5.3
screeninfo==0.8.1
SecretStorage==3.3.3
Send2Trash==1.8.2
sentencepiece==0.1.99
sexpdata==1.0.0
six==1.16.0
smart-open==6.4.0
smartypants==2.0.1
smatch==1.0.4
smmap==5.0.1
smmap2==3.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.5
spacy==3.6.1
spacy-alignments==0.9.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy-transformers==1.3.4
Sphinx==7.2.6
sphinx-autodoc-typehints==1.25.2
sphinx-basic-ng==1.0.0b2
sphinx-copybutton==0.5.2
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
srsly==2.4.8
stack-data==0.6.3
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
terminado==0.18.0
texttable==1.7.0
thinc==8.1.12
threadpoolctl==3.2.0
tinycss2==1.2.1
tokenizers==0.15.0
tomli==2.0.1
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
tornado==6.4
tqdm==4.66.1
traitlets==5.14.0
transformers==4.35.2
triton==2.1.0
twine==4.0.2
typer==0.9.0
types-python-dateutil==2.8.19.14
typing_extensions==4.8.0
tzdata==2023.3
Unidecode==1.3.8
uri-template==1.3.0
urllib3==2.1.0
virtualenv==20.25.0
waitress==2.1.2
wasabi==1.1.2
wcwidth==0.2.12
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
Werkzeug==2.2.3
widgetsnbextension==4.0.9
word2number==1.1
XlsxWriter==3.0.9
xxhash==3.4.1
yapf==0.40.2
yarl==1.9.4
zensols.alsum == 0.0.1
zensols.amr == 0.1.2
zensols.amr-coref==0.0.2
zensols.amrspring == 0.0.1
zensols.calamr == 0.1.0
zensols.clinicamr == 0.0.1
zensols.datdesc==0.2.2
zensols.db==1.3.1
zensols.dbpg == 1.2.0
zensols.deeplearn == 1.11.2
zensols.deepnlp == 1.15.0
zensols.ggit == 0.1.0
zensols.grsync == 0.4.0
zensols.hostcon == 0.7.0
zensols.install==1.1.2
zensols.mednlp == 1.7.0
zensols.mimic == 1.7.1
zensols.mimicsid == 1.8.0
zensols.nlp == 1.11.1
zensols.propbankdb == 0.1.0
zensols.rend==1.1.1
zensols.util == 1.14.4
zipp==3.17.0
